.Food-nav {
    width: 80%;
    display: flex;
    margin: 1rem auto;
    justify-content: space-around;
}

.Food-nav a {
    font-size: 16px;
    margin-top: 0;
}

.Food-nav a.active {
    color: salmon;
    border-bottom: 1px solid white;
}

.Random div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ButtonList-button {
    height: 2.5rem;
    align-self: center;
    width: 100%;
}