.App {
    text-align: center;
    width: 100%;
}

.App-header {
}

.App-body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100% !important;
    font-size: 30px;
}

.App-nav {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.App-nav a {
    font-size: 20px;
}

.App-nav a.active {
    color: slateblue;
    border-bottom: 1px solid white;
}

.App-link {
    color: #61dafb;
}
